* {
  color: white;
  line-height: 1.6;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 450vh;
  background: linear-gradient(
    180deg,
    rgba(2, 7, 29, 1) 0%,
    rgba(18, 31, 89, 1) 15%,
    rgba(49, 64, 131, 1) 35%,
    rgb(244, 166, 132) 60%,
    rgb(244, 210, 132) 70%,
    rgb(225, 227, 243) 80%,
    rgb(135, 207, 231) 100%
  );
  background-position: top;
  background-size: 300vh 100%;
  background-repeat: no-repeat;
}

header {
  width: 100vw;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
}

.container {
  height: 100%;
  width: 100%;
  background: transparent;
}

.image-light {
  object-fit: cover;
  position: fixed;
  top: 0;
  z-index: 3;
  height: 100dvh;
  /* width: 100vw; */
  opacity: 1;
}

.image-dark {
  object-fit: cover;
  position: fixed;
  top: 0;
  z-index: 4;
  height: 100dvh;
  /* width: 100vw; */
  opacity: 1;
}

main {
  font-family: sans-serif;
  position: relative;
  top: -100dvh;
  z-index: 2;
  background-color: transparent;
  width: 100vw;
  height: 300vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 96%;
  padding: 20px;
}

h1,
h2,
p {
  color: white;
  max-width: 1000px;
  font-family: sans-serif;
}

.titleContainer {
  height: 30vh;
  margin-bottom: 30vh;
}

h1 {
  font-size: 4rem;
  margin-bottom: 0;
}

h2 {
  font-size: 3rem;
}

.moon {
  height: 50px;
  position: absolute;
  top: 10vh;
  left: -95vw;
}

.sun {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: rgba(100, 2, 2, 0.3);
  box-shadow: 0px 0px 15px 20px rgba(141, 34, 5, 0.5);
  position: absolute;
  top: 300px;
  right: 400px;
}

@supports (animation-timeline: scroll()) {
  body {
    animation: sky linear;
  }

  .sun {
    offset-path: ellipse(85% 60% at 135% 46vh);
    offset-distance: 0%;
    offset-rotate: 0deg;
    animation: sunrise linear;
    animation-timeline: scroll();
  }

  .moon {
    animation: moonset linear;
    offset-path: ellipse(120% 50% at -75% 40vh);
    offset-distance: 0%;
    offset-rotate: 0deg;
    animation-timeline: scroll();
  }

  .image-dark {
    animation: meadow linear;
    animation-timeline: scroll();
    animation-timing-function: linear;
  }
}

@keyframes sunrise {
  0% {
    offset-distance: 38%;
    background-color: rgba(100, 2, 2, 0.7);
    box-shadow: 0px 0px 15px 20px rgba(141, 34, 5, 0.5);
  }
  55% {
    background-color: rgba(249, 1, 1, 0.5);
    box-shadow: 0px 0px 15px 20px rgba(141, 34, 5, 0.1);
  }
  100% {
    offset-distance: 58%;
    background-color: rgba(249, 249, 247, 0.9);
    box-shadow: 0px 0px 15px 20px rgba(245, 233, 172, 0.3);
  }
}

@keyframes moonset {
  0% {
    offset-distance: -7%;
  }
  100% {
    offset-distance: 5%;
  }
}

@keyframes meadow {
  75% {
    opacity: 0.4;
  }

  100% {
    opacity: 0;
  }
}

@keyframes sky {
  to {
    background-position: bottom;
  }
}
